//$white: #FFFFFF;
//$black: #000000;
$brown: #4A3830;
$brown-light: #9A7E73;
$blue: #1B5F7A;
$beige: #DED5CF;


$pink: #ffb27d;
$red: #e86464;
$grey: #515050;
$white: #FFFFFF;
$yellow: #fdd597;
$black: #1A1A1A;