footer {
    background-color: $black;

    color: $pink;
    padding: 32px 76px;
    height: auto;

    a {
        color: lighten($black, 60);
        text-decoration: none;
    }

    div.content {
        margin: 0 auto;
        width: 100%;
        max-width: 1310px;

        strong {
            font-weight: 600;
        }

        a:hover {
            color: $white;
        }
    }

    nav {
        border-bottom: 1px solid $pink;
        margin-bottom: 16px;
        display: none;

        ul {
            margin-bottom: 16px;

            li {
                display: inline-block;
                padding: 16px;

                a {
                    display: block;
                    font-family: $font-bold;
                    font-size: 1.15em;

                    &:hover {
                        color: $white;
                    }
                }
            }
        }
    }

    div.address,
    div.contact {
        width: 300px;
        margin: 16px 8px;
        display: inline-block;
        vertical-align: top;

        p {
            color: lighten($black, 60);
            font-size: 1em;
            font-family: $font-sans;
            letter-spacing: 0.05em;
        }
    }

    div.partners {
        display: inline-block;
        vertical-align: top;
        float: right;
        margin-right: 8px;

        a {
            height: 89px;
            display: inline-block;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            color: transparent;
            line-height: 0;
            font-size: 0;
            margin: 0 8px;

            &#avdems {
                background-image: url('images/logo_avdems.png');
                width: 183px;
            }

            &#rsrl {
                background-image: url('images/logo_rsrl.png');
                width: 183px;
            }

            &#palliative {
                background-image: url('images/logo_palliative.png');
                width: 102px;
            }
        }

    }

    div.social {
        float: right;
        margin: 22px 8px;
        a {
            width: 30px;
            height: 30px;
            display: inline-block;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;


            &.fb {
                background-image: url('images/link_facebook.png');
                margin-right: 20px;
            }

            &.insta {
                background-image: url('images/link_instagram.png');
            }
        }
    }
}